/cmake-build-debug/OGLExperiments.pdb
/cmake-build-debug/OGLExperiments.ilk
/cmake-build-debug/OGLExperiments.exe
/cmake-build-debug/OGLExperiments.cbp
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/glew32.dll
/include/
/lib/
/cmake-build-debug/CMakeFiles/
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/OGLExperiments.iml
/.idea/vcs.xml
/.idea/.gitignore
